{
  "extends": ["eslint:recommended", "problems", "plugin:prettier/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  }
}
